{{ define "links" }}
<section class="section" id="error-404">
    <div class="container">
        <div class="notification is-danger">
            The requested site could not be found!
        </div>
    </div>
</section>
{{ end }}